# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg-info/
dist/
build/
*.egg

# VS Code settings
.vscode/

# Environments
.env
.env.*
.venv
.venv.*
env/
venv/
ENV/
env.bak/
venv.bak/